@{
    ViewData["Title"] = "Dashboard";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Panel de administracion.</p>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Unidades">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="">Funcionarios</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Tareas">Contact</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>