
@{
    ViewBag.Title = "Alerts";
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" >
            <p class="pageheader-text"><div id="lblTitle"><h2 class="pageheader-title">Alertas</h2></div></p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-12">
                <div class="card">
                    <div class="card-title" >
                        <h5 class="card-header" style="background-color: #C70039; color:white;">Vencidas</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableTasks1" class="table table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Fecha Limite</th>
                                        <th>Responsable</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-12">
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-header" style="background-color: #FFC300; color:white;">Próximas a Vencer</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableTasks2" class="table table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Fecha Limite</th>
                                        <th>Responsable</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-12">
                <div class="card">
                    <div class="card-title" >
                        <h5 class="card-header" style="background-color: #007C35; color:white;">A Tiempo</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableTasks3" class="table table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Fecha Limite</th>
                                        <th>Responsable</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Process/Alerts")